.header__container {
    display: grid;
    gap: 13rem;
}

.header__image img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

.header__content h4 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-dark);
}

.header__content .section__header {
    font-size: 4rem;
    font-weight: 700;
}

.header__content p {
    margin-bottom: 2rem;
    color: var(--text-light);
  }

  .header__btn button:hover {
    background-color:(--primary-color) ;
  } */